*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    text-align: justify;
}

body{
    background-color: rgb(216, 237, 243);
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    background-color: lightskyblue;
}

.menu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: .5rem;
    padding: 20px;
    cursor: pointer;
}

.menu{
    color: rgb(197, 115, 7);
    text-decoration: none;
    border-radius: .5rem;
    padding: 5px;
    transition: ease-in .3s;
    margin-left: 1100px;
}

.menu a:hover{
    background-color: #2F3F80;
    color: white;
    border-radius: 30px;
}

.mi{
line-height: 1.5;
}

.presentacion{
    margin-left: 700px;
    margin-top: -900px;
    width: 1000px;
    height: 370px;
}

.presentacion h2{
    text-align: center;
}

