*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    text-align: justify;
}

body{
    background-color: rgb(216, 237, 243);
}

/*barra navegacion*/

.navbar{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    background-color: lightskyblue;
}

.menu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: .5rem;
    padding: 20px;
    cursor: pointer;
}

.menu{
    color: rgb(197, 115, 7);
    text-decoration: none;
    border-radius: .5rem;
    padding: 5px;
    transition: ease-in .3s;
    margin-left: 1100px;
}

.menu a:hover{
    background-color: #2F3F80;
    color: white;
    border-radius: 30px;
}

/*Sobre Mi*/
.mi{
line-height: 1.5;
}

.presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    max-width: 900px;
    padding: 0 20px;    
}

.presentacion h2{
    text-align: center;
}

.perfil img{
    max-width: 100px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sobremi{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    margin-top: 20px;
}

.habilidades{
    text-align: center;
    margin-top: 40px;
}

.presentacion p strong{
    color: red;
}

.presentacion p strong em{
    color: blue;
}

/*Tabla*/
table{
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px #ccc;
}

th td{
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}

.alto{
    background-color: #b2fab4;
}

.medio{
    background-color: #fef3a0;
}


/*Footer*/
footer{
    margin-top: 50px;
    padding: 40px;
    background-color: #c6e7f5;
    text-align: center;
}

.final img{
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.final img:hover{
    transform: scale(1.1);
}

.formulario{
    margin-top: 20px;
}