*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    text-align: justify;
}

body{
    background-color: rgb(216, 237, 243);
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    background-color: lightskyblue;
}
